## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [397]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [398]:
# View the column names in the data
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [399]:
# Use the describe function to gather some basic statistics
print(df.describe())

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [400]:
# Use this space to do any additional research
# and familiarize yourself with the data.
# Summary of the data frame 
df.info

<bound method DataFrame.info of            first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
0                1
1                0
2                6
3                3
4                1
...            ...
54634            8
54635            0
54636            6
54637            0
54638            5

[54639 rows x 18 columns]>

In [401]:
df.sample()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
27392,Don,Adams,Marine scientist,+1-980-545-7266x27973,don_adams@harris-jordan.org,50162,2676385,2023-05-16,20,2023,XZC13991-98-6E,furniture,tables,56.94,36.46,4.01,78,0

In [402]:
# Show data frame data types
df.dtypes

first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object

In [403]:
# Return the number of unique values in each column
df.nunique()

first            360
last             477
job              498
phone            999
email            999
client_id        999
order_id       10000
order_date       150
order_week        23
order_year         2
item_id          500
category           5
subcategory       18
unit_price       490
unit_cost        487
unit_weight      393
qty             2911
line_number       10
dtype: int64

In [404]:
# What three item categories had the most entries?
df['category'].value_counts().head(3)
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [405]:
#Show each category and the number of entries in each
df['category'].value_counts(normalize=True).head()

category
consumables    0.430791
furniture      0.218068
software       0.153736
decor          0.145574
electronics    0.051831
Name: proportion, dtype: float64

In [406]:
#show the number of unique value in each subcategory
df['subcategory'].value_counts()

subcategory
bathroom supplies     6424
paper products        5874
kitchen supplies      5746
tables                4540
misc                  4286
stands                4201
accounting            3756
project management    3522
plants                3466
wall art              3093
seating               2664
pens                  2603
logistics             1122
telecom                978
audio visual           732
cabling                655
desks                  510
computers              467
Name: count, dtype: int64

In [407]:
# Filter the DataFrame for rows where the category is 'consumables'
consumables_df = df[df['category'] == 'consumables']

# Count the occurrences of each sub_category within the 'consumables' category
# and display the most common sub_category
most_common_subcategory = consumables_df['subcategory'].value_counts().head()

print(most_common_subcategory)

subcategory
bathroom supplies    6424
paper products       5874
kitchen supplies     5746
misc                 2891
pens                 2603
Name: count, dtype: int64

In [408]:
# Which five clients had the most entries in the data?
top_5_client = df[['client_id']].value_counts().nlargest(5)
print(top_5_client)

client_id
33615        220
66037        211
46820        209
38378        207
24741        207
Name: count, dtype: int64

In [409]:
# Store the client ids of those top 5 clients in a list.
top_5_client_ids = df['client_id'].value_counts().head(5).index.tolist()
# Sorting a DataFrame by a specific column in descending order
sorted_df = df.sort_values(by='client_id', ascending=False)
print(top_5_client_ids)
df.head()

[33615, 66037, 46820, 38378, 24741]

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [410]:
# How many total units (the qty column) did the
# client with the most entries order? 
# Group by client_id, calculate total units ordered and count the number of entries for each client
client_summary = df.groupby('client_id').agg(
    total_units=('qty', 'sum'),
    number_of_entries=('client_id', 'size')
).reset_index()

# Sort the summary DataFrame by number_of_entries in descending order to get the top clients
client_summary_sorted = client_summary.sort_values(by='number_of_entries', ascending=False)

# Keep only the top 5 clients
top_5_clients_summary = client_summary_sorted.head(5)

# Display the summary for the top 5 clients
print(top_5_clients_summary)

     client_id  total_units  number_of_entries
258      33615        64313                220
621      66037        43018                211
402      46820        75768                209
319      38378        73667                207
144      24741       239862                207

In [411]:
# Store the client ids of those top 5 clients in a list.
top_five_client = df['client_id'].value_counts().nlargest(5)
top_five_client_ids = top_five_client.index.tolist()
print(top_five_client)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [412]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

# Calculate the subtotal for each line and save it as a new column in the DataFrame
df['line_subtotal'] = df['unit_price'] * df['qty']

# Now, the 'subtotal' column is part of your DataFrame
print(df[['unit_price', 'qty', 'line_subtotal']])

       unit_price   qty  line_subtotal
0         1096.80   105      115164.00
1           24.95    21         523.95
2           13.52    39         527.28
3           36.42    29        1056.18
4          195.10    20        3902.00
...           ...   ...            ...
54634       83.13    33        2743.29
54635      206.59    47        9709.73
54636       65.66   475       31188.50
54637        1.48   112         165.76
54638        3.01  1031        3103.31

[54639 rows x 3 columns]

In [413]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
# Calculate and add the 'shipping_price' column
# def calculate_shipping_price(row):
#     shipping_weight = row["unit_weight"] * row["qty"]
#     if shipping_weight > 50:
#         return shipping_weight * 7
#     else:
#         return shipping_weight * 10

# # Ensure 'unit_weight' and 'qty' columns exist in your DataFrame before applying this function
# if 'unit_weight' in df.columns and 'qty' in df.columns:
#     df["shipping_price"] = df.apply(calculate_shipping_price, axis=1)
# else:
#     print("Error: 'unit_weight' and/or 'qty' columns are missing.")

# # Now, attempt to filter and display the DataFrame based on the 'shipping_price' column
# # For items over 50 pounds
# items_over_50_pounds = df[df["unit_weight"] * df["qty"] > 50][['unit_weight', 'qty', 'shipping_price']]
# print("Items over 50 pounds (shipping price of $7 per pound):")
# print(items_over_50_pounds)

# # For items 50 pounds or under
# items_50_pounds_or_under = df[df["unit_weight"] * df["qty"] <= 50][['unit_weight', 'qty', 'shipping_price']]
# print("\nItems 50 pounds or under (shipping price of $10 per pound):")
# print(items_50_pounds_or_under)
df["shipping_price"] = df.apply(lambda row: row["unit_weight"] * row["qty"] * 7 if row["unit_weight"] * row["qty"] > 50 else row["unit_weight"] * row["qty"] * 10, axis=1)
df.head(50)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,458.64
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,6500.20
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,BMB23158-88-9A,decor,plants,172.84,154.44,2.79,78,0,13481.52,1523.34
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,UAC50632-25-4E,consumables,kitchen supplies,245.56,231.95,1.73,56,5,13751.36,678.16
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,UEU25316-01-1U,consumables,pens,20.99,16.97,5.12,22,4,461.78,788.48
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,DDA06248-98-7Z,consumables,paper products,83.86,59.00,0.27,49,3,4109.14,132.30
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,DUU85042-87-5E,furniture,seating,66.88,54.15,2.47,78,1,5216.64,1348.62
10,Kyle,Williams,"Engineer, broadcasting (operations)",+1-432-234-2942,communitywilliams9024@taylor-padilla.biz,81012,5775924,2023-04-12,15,2023,DCD61783-36-6B,software,project management,520.00,457.16,4.92,98,0,50960.00,3375.12
11,Roberto,Howard,"Surveyor, land/geomatics",311.284.4575,roberto.howard.1290@davis-reese.info,74112,2859900,2023-02-06,6,2023,ZAE56533-39-8U,decor,wall art,4.22,3.65,1.82,211,6,890.42,2688.14
12,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,6059361,2023-05-16,20,2023,BDC65078-60-7M,consumables,paper products,229.74,198.38,27.51,568,2,130492.32,109379.76
13,Patricia,Gould,Lobbyist,+1-694-749-5807x94968,newspapergould@walsh.biz,18145,3470698,2023-04-19,16,2023,AME10969-48-7D,consumables,paper products,33.72,30.08,2.01,44,0,1483.68,619.08
14,Katherine,Taylor,"Psychologist, clinical",(943)632-3743x028,taylor.katherine.733@odonnell.org,48855,5953045,2023-05-11,19,2023,BXM59071-01-6D,electronics,computers,39.25,20.95,6.56,157,1,6162.25,7209.44
15,Matthew,Orozco,Research scientist (maths),+1-259-213-7449x4333,orozcomatthew@carr.com,67407,5014569,2023-04-09,14,2023,CCX95657-71-3B,decor,wall art,29.99,26.84,4.25,29,2,869.71,862.75
16,Joseph,Jordan,Government social research officer,680.657.3271x16477,jordan_joseph_4684@gibson.net,26185,2101230,2023-05-13,19,2023,ZEA01443-18-5A,furniture,stands,6.86,4.06,6.89,23,0,157.78,1109.29
17,Carrie,Green,Colour technologist,+1-242-699-5329x474,c.green@oliver-smith.com,17355,4397711,2023-04-18,16,2023,CUU90642-03-7C,furniture,seating,33.41,26.82,29.12,49,0,1637.09,9988.16
18,David,Reyes,"Production assistant, television",714.475.3974,davidreyes@daniels.org,28523,6832072,2023-04-05,14,2023,UCX86104-19-0Z,consumables,misc,13.77,9.63,6.86,29,1,399.33,1392.58
19,Shelby,Williams,Colour technologist,664.584.8160x389,williamstry70@armstrong.com,77184,7573941,2023-05-29,22,2023,ZDX29223-32-0B,consumables,paper products,199.05,183.99,8.11,233,4,46378.65,13227.41
20,Tricia,Stephenson,"Lecturer, further education",(978)811-8729x522,triciastephenson@vasquez.org,61603,7490302,2023-03-12,10,2023,ZAU36048-03-9A,furniture,tables,98.43,69.36,4.03,136,2,13386.48,3836.56
21,Patrick,Anderson,Commercial art gallery manager,947-812-9604x27025,andersonboard7205@delgado-hodge.org,51869,5020751,2023-03-16,11,2023,EZX36378-17-7A,consumables,bathroom supplies,53.17,39.52,4.18,52,4,2764.84,1521.52
22,Peter,Roberts,Architectural technologist,9238354425,roberts.peter@warren-sandoval.com,85413,3401371,2023-04-03,14,2023,UAU40137-77-3U,decor,plants,367.76,235.57,10.08,287,4,105547.12,20250.72
23,Christopher,Rhodes,"Engineer, manufacturing systems",001-319-767-5123,rhodeschristopher9096@alvarado.info,74159,6512694,2023-03-09,10,2023,ZMB00381-41-4E,electronics,audio visual,382.59,313.09,7.97,60,3,22955.40,3347.40
24,Glenn,Garcia,Textile designer,573.981.6374,determinegarcia5685@velasquez.com,33804,6024379,2023-01-26,4,2023,XZZ76042-95-6X,consumables,paper products,5.17,3.53,6.90,2163,2,11182.71,104472.90
25,Peter,Roberts,Architectural technologist,9238354425,roberts.peter@warren-sandoval.com,85413,9362283,2023-01-18,3,2023,BAD54487-56-3C,consumables,paper products,7.14,5.10,1.23,129944,4,927800.16,1118817.84
26,Patrick,Anderson,Commercial art gallery manager,947-812-9604x27025,andersonboard7205@delgado-hodge.org,51869,8668707,2023-04-07,14,2023,UZZ84388-36-3B,consumables,pens,99.34,85.53,2.08,51,0,5066.34,742.56
27,Jacob,Mendoza,Air cabin crew,+1-264-485-0270x066,jacobmendoza@johnson.biz,54932,5175749,2023-05-28,21,2023,DBE42716-07-1U,consumables,paper products,37.71,35.55,0.50,52,1,1960.92,260.00
28,Tiffany,Lowe,Medical illustrator,001-755-263-0037x84650,lowetiffany3935@rodriguez.com,87125,8026387,2023-01-11,2,2023,UMC49136-12-1E,furniture,tables,210.12,137.62,16.90,54,4,11346.48,6388.20
29,Caleb,Rice,Technical brewer,868.703.3751x760,riceelse@collins.com,10643,1940019,2023-03-03,9,2023,EDU54097-48-4E,consumables,bathroom supplies,156.03,125.57,5.56,136,3,21220.08,5293.12
30,Deborah,Cook,"Radiographer, therapeutic",747.841.2427x57672,cook.d@martin-yoder.com,10351,3052159,2023-01-27,4,2023,MAU13971-98-9B,software,accounting,163.59,106.62,3.94,309,5,50549.31,8522.22
31,Richard,Kennedy,Race relations officer,+1-551-603-4716,rkennedy@mcneil.info,10559,7323275,2023-01-11,2,2023,ZEZ40347-39-4X,decor,wall art,410.17,372.06,2.35,67,3,27481.39,1102.15
32,Connie,Harris,"Horticulturist, amenity",(881)845-5127,bookharris@richardson-foster.com,31733,4657177,2023-05-28,21,2023,UUE15482-56-0X,electronics,computers,40.80,28.61,2.12,91,1,3712.80,1350.44
33,Cynthia,Palmer,"Surveyor, rural practice",+1-843-385-5943x730,palmer.cynthia@weaver.com,95847,6155436,2023-03-15,11,2023,CCA32097-88-6M,software,logistics,201.92,178.70,1.93,159,2,32105.28,2148.09
34,Erin,Robertson,Science writer,+1-449-731-7108x96007,robertsonerin8454@cox.com,97623,9311270,2023-04-29,17,2023,AEE51706-20-3U,consumables,paper products,42.06,30.31,1.28,112,1,4710.72,1003.52
35,Catherine,Barnes,Airline pilot,+1-428-595-7971x494,affect.catherine.6507@singh.org,68703,4178798,2023-03-27,13,2023,DZX13514-89-1M,furniture,stands,61.75,54.06,0.78,221,5,13646.75,1206.66
36,Corey,Wells,Environmental health practitioner,+1-500-281-1615x1387,wellsc964@mercado.com,28927,8688413,2023-04-15,15,2023,CZC97008-29-8E,consumables,misc,209.60,116.11,10.74,107,2,22427.20,8044.26
37,Bradley,Spencer,Warehouse manager,+1-260-443-8861x751,b.spencer.1089@ross.com,48015,5300796,2023-04-18,16,2023,AEM31850-24-5M,software,project management,47.27,36.01,0.27,105,2,4963.35,283.50
38,Andrea,Brooks,IT technical support officer,+1-225-510-6030,brooks_institution_650@stone.com,90654,9611044,2023-05-23,21,2023,MDB11336-71-2E,furniture,tables,29.03,27.00,0.85,37,4,1074.11,314.50
39,Mallory,Mitchell,Quarry manager,335-735-8539x4710,mitchell.mallory.7004@powell-english.com,67516,7012133,2023-04-24,17,2023,XAU13501-34-9A,software,project management,1.75,1.62,1.39,66,1,115.50,642.18
40,William,Mccann,"Accountant, chartered",001-664-359-2306x9919,mccannw5477@rodriguez-johnson.com,75118,3735477,2023-03-14,11,2023,CBZ89457-17-5C,furniture,tables,57.06,37.57,2.43,65,0,3708.90,1105.65
41,Douglas,Bean,"Doctor, general practice",233.661.3092,generation.d@brown.com,32185,8882115,2023-04-07,14,2023,AED36322-86-8U,furniture,stands,141.40,131.96,1.89,43,2,6080.20,568.89
42,Victor,Griffith,Structural engineer,001-234-380-1800,victorgriffith@contreras.com,96736,1035406,2023-05-21,20,2023,AZB92583-19-5D,electronics,telecom,41.42,30.02,1.10,131,5,5426.02,1008.70
43,Taylor,Wagner,Toxicologist,001-870-430-0002x9776,wagner_t@brown.com,89499,4765519,2023-02-28,9,2023,DXU77211-79-0B,furniture,stands,200.79,136.93,6.70,192,4,38551.68,9004.80
44,Barry,Johnson,"Education officer, museum",3804491689,johnson.end@clarke.com,79827,3117013,2023-05-04,18,2023,AED36322-86-8U,furniture,stands,141.40,131.96,1.89,236,2,33370.40,3122.28
45,Daniel,Newman,"Designer, interior/spatial",907-222-8932,newman.daniel.3570@patel.com,45569,8286486,2023-03-12,10,2023,EUX51497-34-6B,consumables,bathroom supplies,175.21,162.27,13.83,10,2,1752.10,968.10
46,Ashley,Hernandez,Retail buyer,264-496-5412,ashley.later.185@hernandez-shaw.info,61647,4950072,2023-01-30,5,2023,AEE37351-26-7B,software,logistics,2.55,1.83,34.85,290,9,739.50,70745.50
47,Vincent,Davis,"Designer, exhibition/display",(388)713-4554,davisvincent3740@lopez-king.net,53409,9662359,2023-01-14,2,2023,XBM94536-93-1U,decor,misc,0.87,0.50,0.96,22,2,19.14,211.20
48,Daniel,Newman,"Designer, interior/spatial",907-222-8932,newman.daniel.3570@patel.com,45569,8286486,2023-03-12,10,2023,AUZ65769-43-0D,furniture,stands,18.76,17.30,10.90,31,4,581.56,2365.30
49,Curtis,Garcia,Bookseller,676-685-3722x870,curtis.garcia.6686@gardner.com,17002,9585312,2023-05-16,20,2023,EBB79610-74-2A,decor,wall art,208.75,179.17,7.20,22,4,4592.50,1108.80

In [414]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
# df['sales_tax_rate'] = 0.0925
# df['total_price'] = (df['unit_price'] * df['qty'] + df['shipping_price']) * (1 + df['sales_tax_rate'])
# # Display the values for 'qty', 'sales_tax_rate', and 'total_price' columns for all rows
# print(df[['qty', 'sales_tax_rate', 'line_subtotal','total_price']])
df["total_price"] = (df["line_subtotal"] + df["shipping_price"] ) * 1.0925
print(df[['qty', 'line_subtotal','total_price','shipping_price']])

        qty  line_subtotal    total_price  shipping_price
0       105      115164.00  131839.076250         5512.50
1        21         523.95     914.258625          312.90
2        39         527.28    1077.117600          458.64
3        29        1056.18    1543.571400          356.70
4        20        3902.00   11364.403500         6500.20
...     ...            ...            ...             ...
54634    33        2743.29    3564.871200          519.75
54635    47        9709.73   14813.240275         3849.30
54636   475       31188.50   49184.896250        13832.00
54637   112         165.76   15632.713600        14143.36
54638  1031        3103.31   19711.431250        14939.19

[54639 rows x 4 columns]

In [415]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
# df['cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']
# # Display the values for 'qty' ,'unit_cost', and 'shipping_price' columns for all rows
df["line_cost"] = df["unit_cost"] * df["qty"] + df["shipping_price"]
print(df[['qty','client_id', 'unit_cost', 'line_subtotal','shipping_price','line_cost']])

        qty  client_id  unit_cost  line_subtotal  shipping_price  line_cost
0       105      58515     762.71      115164.00         5512.50   85597.05
1        21      37609      15.09         523.95          312.90     629.79
2        39      57113       7.86         527.28          458.64     765.18
3        29      46554      24.85        1056.18          356.70    1077.35
4        20      92089     108.17        3902.00         6500.20    8663.60
...     ...        ...        ...            ...             ...        ...
54634    33      29043      51.60        2743.29          519.75    2222.55
54635    47      41908     175.46        9709.73         3849.30   12095.92
54636   475      35176      57.31       31188.50        13832.00   41054.25
54637   112      24485       1.22         165.76        14143.36   14280.00
54638  1031      24007       1.61        3103.31        14939.19   16599.10

[54639 rows x 6 columns]

In [416]:
# df['unit_profit'] = df['total_price'] - df['cost']
# df['total_profit'] = df['unit_profit'] * df['qty']
# # Display the values for 'qty' ,'unit_profit', and 'shipping_price' columns for all rows
# print(df[['qty','client_id','cost','unit_profit', 'line_subtotal','shipping_price']])
# Create a column for the profit of
# each line using line cost and line price
df["line_profit"] = df["total_price"] - df["line_cost"]
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,total_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250,85597.05,46242.026250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,312.90,914.258625,629.79,284.468625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,458.64,1077.117600,765.18,311.937600
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400,1077.35,466.221400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,6500.20,11364.403500,8663.60,2700.803500

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [417]:
# Check your work using the totals above
order_id = [2742071, 2173913, 6128929]  # Define the variable "order_id" with the desired values

def find_order_price(order_id):
    order_lines_df = df.loc[df['order_id'] == order_id, 'total_price']
    return round(order_lines_df.sum(), 2)

for order_id in order_id:
    print(f"Order id: {order_id} total: ${find_order_price(order_id)}")

Order id: 2742071 total: $152811.9
Order id: 2173913 total: $162388.72
Order id: 6128929 total: $923441.24

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [418]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
# Store the client ids of those top 5 clients in a list.
# top_five_client_ids = [33615, 66037, 46820, 38378, 24741]
# # Print total spend for each client
# for client_id, total_invoiced in total_spend_top_five_clients.items():
#     print(f"Client ID: {client_id}, Total Spend: ${total_invoiced:,.2f}")
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

def client_spend(client_id, total_price):
    client_df = df.loc[df['client_id'] == client_id, total_price]
    return round(client_df.sum(), 2)

for client_id in top_5_client_ids:
    print(f"{client_id}: ${client_spend(client_id, 'total_price')}")

33615: $8377308.57
66037: $10259514.8
46820: $9743794.32
38378: $12906550.88
24741: $82268891.98

In [419]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.
data_dict = {"client_id": top_5_client_ids}
columns = ["qty", "shipping_price", "total_price", "line_cost", "line_profit"]
for column in columns:
    data_dict[column] = [client_spend(client_id, column) for client_id in top_5_client_ids]

summary_df = pd.DataFrame(data_dict).sort_values("line_profit", ascending=False)
summary_df


# data_dict = {'client_id': top_five_client_ids}
# columns = ['qty', 'shipping_price', 'unit_price', 'unit_cost', 'total_profit']
# for col in columns:
#     data_dict[col] = [client_totals(client_id, col) for client_id in top_five_client_ids]
    
# summary_df = pd.DataFrame(data_dict).sort_values('total_profit', ascending=False)
# summary_df

   client_id     qty  shipping_price  total_price    line_cost  line_profit
4      24741  239862      5126448.37  82268891.98  45688899.71  36579992.27
3      38378   73667      3429455.40  12906550.88   9634720.98   3271829.90
1      66037   43018      1395151.85  10259514.80   7004482.98   3255031.82
2      46820   75768      1601448.84   9743794.32   7007191.64   2736602.68
0      33615   64313      1828984.89   8377308.57   6175313.91   2201994.66

In [420]:
# Format the data and rename the columns
# # to names suitable for presentation.
# # Currency should be in millions of dollars.
# top_five_client_ids = [33615, 66037, 46820, 38378, 24741]

# # Filter the DataFrame to include only the top 5 clients
# top_clients_df = df[df['client_id'].isin(top_five_client_ids)]

# # Group by 'client_id' and aggregate the required columns
# aggregated_df = top_clients_df.groupby('client_id').agg({
#     'qty': 'sum',
#     'shipping_price': 'sum',
#     'total_price': 'sum',
#     'unit_cost': 'sum',  # Assuming 'unit_cost' needs to be summed; adjust if needed
#     'total_profit': 'sum'
# # }).reset_index()

# # Convert currency values to millions and format as strings with $ sign and M for million
# currency_columns = ['shipping_price', 'total_price', 'unit_cost', 'total_profit']
# for column in currency_columns:
#     aggregated_df[column] = aggregated_df[column] / 1000000  # Convert to millions
#     aggregated_df[column] = aggregated_df[column].map('${:,.2f}M'.format)  # Format as string

# # Since the DataFrame is already aggregated and sorted by 'client_id', you may want to sort by 'total_profit' or another column
# aggregated_df.sort_values(by='total_profit', ascending=False, inplace=True)

# # Display the DataFrame
# print(aggregated_df)
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

money_columns = ['line_cost', 'shipping_price', 'total_price', 'line_profit']

def format_money(amount):
    return f"${amount/1000000:.2f}M"

for column in money_columns:
    summary_df[column] = summary_df[column].apply(format_money)

rename_columns = {
    'qty': 'Total Units Purchased',
    'shipping_price': 'Total Shipping Price',
    'total_price': 'Total Revenue',
    'line_profit': 'Total Profit',
    'client_id': 'Client ID',
    'line_cost': 'Total Cost'
}
# summary_df = summary_df.rename(columns=rename_columns)

# summary_df = summary_df.rename(columns = rename_dict)
# # Sort the updated data by "Total Profit" form highest to lowest
# summary_df.sort_values('Total Profit', ascending=False)

In [421]:
#Sort the updated data by "Total Profit" form highest to lowest

# Filter the DataFrame to include only the top 5 clients
top_five_client_ids = [33615, 66037, 46820, 38378, 24741]
df_filtered = df[df['client_id'].isin(top_five_client_ids)]

# Aggregate data by client_id
aggregated_df = df_filtered.groupby('client_id').agg({
    'qty': 'sum',
    'shipping_price': 'sum',
    'total_price': 'sum',
    'unit_cost': 'sum',  # Adjust this if a different operation is needed for unit_cost
    'line_profit': 'sum'
}).reset_index()

# Sort the aggregated data by 'line_profit' from highest to lowest
sorted_aggregated_df = aggregated_df.sort_values(by='line_profit', ascending=False)

# Display the sorted DataFrame
print(sorted_aggregated_df)

   client_id     qty  shipping_price   total_price  unit_cost   line_profit
0      24741  239862      5126448.37  8.226889e+07   17900.04  3.657999e+07
2      38378   73667      3429455.40  1.290655e+07   21702.21  3.271830e+06
4      66037   43018      1395151.85  1.025951e+07   21508.98  3.255032e+06
3      46820   75768      1601448.84  9.743794e+06   18140.06  2.736603e+06
1      33615   64313      1828984.89  8.377309e+06   21716.88  2.201995e+06

In [425]:
# Round the numeric columns to two decimal places
aggregated_df['shipping_price'] = aggregated_df['shipping_price'].round(2)
aggregated_df['total_price'] = aggregated_df['total_price'].round(2)
aggregated_df['unit_cost'] = aggregated_df['unit_cost'].round(2)
aggregated_df['line_profit'] = aggregated_df['line_profit'].round(2)

# Sort the aggregated data by 'line_profit' from highest to lowest BEFORE formatting
sorted_aggregated_df = aggregated_df.sort_values(by='line_profit', ascending=False)

# Format the columns as currency in millions with "M" AFTER sorting
currency_columns = ['shipping_price', 'total_price', 'unit_cost', 'line_profit']
for column in currency_columns:
# Convert to millions and format with "$" and "M" for all columns, including 'line_profit'
    sorted_aggregated_df[column] = sorted_aggregated_df[column].apply(lambda x: f"${x/1_000_000:.2f}M")

# Display the sorted and formatted DataFrame
print(sorted_aggregated_df)

   client_id     qty shipping_price total_price unit_cost line_profit
0      24741  239862         $5.13M     $82.27M    $0.02M     $36.58M
2      38378   73667         $3.43M     $12.91M    $0.02M      $3.27M
4      66037   43018         $1.40M     $10.26M    $0.02M      $3.26M
3      46820   75768         $1.60M      $9.74M    $0.02M      $2.74M
1      33615   64313         $1.83M      $8.38M    $0.02M      $2.20M